* {
}

:root {
  --main-color: #cb2324;
  --second-color: #f7f3e3;
  --accent-color: ;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 1000px;
  background-color: var(--second-color);
  overflow-x: hidden;
}

.bg-main {
  background-color: var(--main-color);
}

.bg-second {
  background-color: var(--second-color);
}

.transition {
  transition: 0.4s;
}

.filler-hg {
  height: 100vh;
}

nav {
  z-index: 10;
}

@media screen and (max-width: 755px) {
  .smartnav {
    position: absolute;
    opacity: 0;
    right: -100%;
    top: 110px;
  }

  .smartnav.active {
    height: 100vh;
    position: absolute;
    opacity: 0.5;
    right: 0%;
    padding-right: 50px;
    padding-top: 20px;
    top: 100px;
    transition: 0.4s;
    background-color: var(--main-color);
  }
}

.above {
  height: 100vh;
  background: linear-gradient(
    170deg,
    var(--main-color) 80%,
    var(--second-color) 70%
  );
  position: absolute;
  top: 0px;
  z-index: -10;
}
